<h1>{site_name}</h1>


<div class="article-holder">
    <div class="article-placement path">
        <div class="centred">
            <img src="/upload/resources/infrastructure/sparkle.png">
        </div>
    </div>
</div>

<div class="article-holder">
    {exp:channel:entries channel="article"}
    {if '{thread:url_title}' == '{embed:thread}'}
    <a href='{path=thread/{url_title}/{path_name}}'>
        <div class="article-placement">
            {article_image limit='1''}
            <!-- <img src='{article_image:file}' class='article-shape'> -->
            {/article_image}
        </div>
    </a>
    {/if}
    {/exp:channel:entries}
</div>