<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<title>title</title>
		<link rel="stylesheet" type="text/css" media="all" href="{path=Default/style}" />
	</head>
	<body class="zero-spacing">
        <div class="absolute fill outer">
            <div class="absolute background fill"></div>
            <div class="scroll-container zero-spacing"></div>
            <div class="absolute hud fill">
                <div class="absolute zero-spacing" style="width:10vmin;height:10vmin;right:5vmin;top:5vmin;background-color:aquamarine;"></div>
                <div class="absolute zero-spacing" style="width:10vmin;height:10vmin;right:18vmin;top:5vmin;background-color:brown;"></div>
                <div class="absolute zero-spacing" style="width:10vmin;height:10vmin;right:5vmin;top:18vmin;background-color:blueviolet;"></div>
                <div class="absolute zero-spacing" style="width:10vmin;height:10vmin;left:5vmin;bottom:5vmin;background-color:burlywood;"></div>
                <div class="absolute zero-spacing" style="width:10vmin;height:10vmin;left:18vmin;bottom:5vmin;background-color:coral;"></div>
                <div class="absolute zero-spacing" style="width:10vmin;height:10vmin;left:5vmin;bottom:18vmin;background-color:lightseagreen;"></div>
            </div>
            {layout:contents}
        </div>
	</body>
</html>