<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<title>title</title>
		<link rel="stylesheet" type="text/css" media="all" href="{path=default/style}" />
		{exp:jquery:script_tag}
		<script src="{path='default/util'}"></script>
		<script src="{path='default/bspline_util'}"></script>
		<script src="{path='default/nonuniform-bspline'}"></script>
		<script src="{path='default/param_scaler'}"></script>
		<script src="{path='default/celtic'}"></script>
		<script src="{path='default/adv_celtic'}"></script>
		<script src="{path='default/decorator_ties'}"></script>
		<script src="{path='default/knot_test2'}"></script>
	</head>
	<body>
        <div style="background-color: #808080;height:600px;width:700px;">
            <svg width="100%" height="100%" viewBox="-150 -150 350 300" class="test-line">
            </svg>
        </div>
    </body>
</html>