<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<title>title</title>
		<link rel="stylesheet" type="text/css" media="all" href="{stylesheet=default/style}" />
		{exp:jquery:script_tag}
		<script src="{path='default/util'}"></script>
		<script src="{path='default/bspline_util'}"></script>
		<script src="{path='default/nonuniform-bspline'}"></script>
		<script src="{path='default/uniform-bspline'}"></script>
		<script src="{path='default/param_scaler'}"></script>
		<script src="{path='default/param_test'}"></script>
	</head>
	<body>
        <div>
            <svg viewBox="-130 -130 260 260" class="test-line" style="float: left; width: 50%">
            </svg>
            <svg viewBox="-130 -130 260 260" class="test-line2" style="width: 50%;">
            </svg>
        </div>
    </body>
</html>