<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<title>title</title>
		<link rel="stylesheet" type="text/css" media="all" href="{stylesheet=default/style}" />
		{exp:jquery:script_tag}
		<script src="{path='default/util'}"></script>
		<script src="{path='default/bspline_util'}"></script>
		<script src="{path='default/nonuniform-bspline'}"></script>
		<script src="{path='default/uniform-bspline'}"></script>
		<script src="{path='default/celtic'}"></script>
		<script src="{path='default/basis_view'}"></script>
		<script src="{path='default/knot_test'}"></script>
	</head>
	<body>
        <svg height="700" width="700" viewBox="-150 -150 300 300" class="test-line">
        </svg>
    </body>
</html>