<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<title>title</title>
		<link rel="stylesheet" type="text/css" media="all" href="{path=Default/style}" />
	</head>
	<body class="zero-spacing">
        <div class="absolute fill outer">
            <div class="absolute behind-background fill"></div>
            <div class="absolute background fill"></div>
            <div class="absolute scroll-container-container zero-spacing"></div>
            <div class="absolute noclick fill">
                {embed='Default/hud'}
            </div>
            <div class="absolute noclick fill page-container"></div>
            {layout:contents}
        </div>
	</body>
</html>