<div class="absolute zero-spacing one-border click" style="width:11vmin;height:11vmin;right:5vmin;top:5vmin;background-color:aquamarine;">
</div>
<div class="absolute zero-spacing one-border click" style="width:11vmin;height:11vmin;right:18vmin;top:5vmin;background-color:lightcoral;">
    <a href='{path="forums"}'>
        <img src='/upload/resources/infrastructure/Speech_bubble.svg'
             title='Forum'
             class='click five-percent-border'>
    </a>
</div>
<div class="absolute zero-spacing one-border click" style="width:11vmin;height:11vmin;right:5vmin;top:18vmin;background-color:blueviolet;">
</div>
<div class="absolute zero-spacing one-border click" style="width:11vmin;height:11vmin;left:5vmin;bottom:5vmin;background-color:burlywood;">
    <a href=''>
        <img src='/upload/resources/infrastructure/Mouth.svg'
             title='Submit work'
             class='click five-percent-border'>
    </a>
</div>
<div class="absolute zero-spacing one-border click" style="width:11vmin;height:11vmin;left:18vmin;bottom:5vmin;background-color:coral;">
    <a href=''>
        <img src='/upload/resources/infrastructure/Contact.svg'
             title='Contact us'
             class='click five-percent-border'>
    </a>
</div>
<div class="absolute zero-spacing one-border click" style="width:11vmin;height:11vmin;left:5vmin;bottom:18vmin;background-color:lightseagreen;">
    <a href='#thr=home-knot'>
        <img src='/upload/resources/infrastructure/Home_Knot_Icon.png'
             title='Home'
             class='click five-percent-border'>
    </a>
</div>
