/* fontage */

@font-face {
    font-family: 'montserrat';
    src: url('/upload/resources/font/montserrat-bold-webfont.woff2') format('woff2'),
         url('/upload/resources/font/montserrat-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('/upload/resources/font/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('/upload/resources/font/montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('/upload/resources/font/montserrat-italic-webfont.woff2') format('woff2'),
         url('/upload/resources/font/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('/upload/resources/font/montserrat-light-webfont.woff2') format('woff2'),
         url('/upload/resources/font/montserrat-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('/upload/resources/font/montserrat-lightitalic-webfont.woff2') format('woff2'),
         url('/upload/resources/font/montserrat-lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('/upload/resources/font/montserrat-regular-webfont.woff2') format('woff2'),
         url('/upload/resources/font/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* triumph of style over content */

body, .outer {
    overflow: hidden;
}

div.noclick {
    pointer-events: none;
}

div.click {
    pointer-events: auto;
}

div.decor {
    pointer-events: none;
    overflow: visible;
}

div.scroll-container {
    position: relative;
    overflow: visible;
}

.absolute {
    position: absolute;
}

.fill {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.page {
    overflow: auto;
    background-color: antiquewhite;
}

svg.fill {
    display: block;
}

svg {
    pointer-events: none;
}

a {
    pointer-events: all;
}

.background {
    background-color: antiquewhite;
}

.zero-spacing {
    border: 0;
    margin: 0;
    padding: 0;
}

.one-border {
    border: 1px solid maroon;
    margin: 0;
    padding: 0;
}

.five-percent-border {
    border: 0;
    margin: 5%;
    padding: 0;
    width: 90%;
    height: 90%;
}

.wh-auto {
    width: auto;
    height: auto;
}

/* used for ties on knot */
path.strand,
polyline.strand {
    fill: none;
    stroke-linecap: round;
}

/* used for strand between knots */
path.strand-inner,
polyline.strand-inner {
    fill: none;
    stroke-linecap: butt;
}

polyline.knot,
polygon.knot {
    fill: none;
    stroke-linecap: butt;
}

.street-p2 {
    filter: sepia(100%) hue-rotate(135deg) brightness(0.95);
}

.debug-white {
    stroke: rgb(255,255,255);
    stroke-width: 1px;
    fill: rgb(196,196,196);
}

.debug-blue {
    stroke: rgb(64,64,255);
    stroke-width: 1px;
    fill: rgb(32,32,196);
}

.hack {
    width: 1px;
    height: 1px;
    left:50%;
    top:50%;
    position: fixed;
}

div.text {
    font-family: montserrat, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5em;
    width: fit-content;
}

p.text {
    padding-left: 4em;
    text-indent: -4em;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    display: table;
}

p.title {
    font-size: 150%;
    margin-bottom: 3em;
}

div.text-container {
    padding: 150px;
    position: absolute;
    overflow: visible;
}

svg.text {
    overflow: visible;
}

/* animations */

.rotating {
    animation:spin 600s linear infinite;
}

@keyframes spin { 100% { transform:rotate(360deg); } }
