<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<title>title</title>
		<link rel="stylesheet" type="text/css" media="all" href="{path=default/style}" />
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
		<script src="{path='Works/util'}"></script>
		<script src="{path='Works/bspline_util'}"></script>
		<script src="{path='Works/nonuniform_bspline'}"></script>
		<script src="{path='Works/param_scaler'}"></script>
		<script src="{path='Works/coord_2d'}"></script>
		<script src="{path='Works/celtic'}"></script>
		<script src="{path='Works/adv_celtic'}"></script>
		<script src="{path='Works/decorator_ties'}"></script>
		<script src="{path='Works/knot_util'}"></script>
		<script src="{path='Works/drawers'}"></script>
		<script src="{path='Test/knot_test2'}"></script>
	</head>
	<body>
        <div style="background-color: #808080;height:600px;width:700px;">
            <svg width="100%" height="100%" viewBox="-150 -150 350 300" class="test-line">
            </svg>
        </div>
    </body>
</html>