<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>title</title>
            <link rel="stylesheet" type="text/css" media="all" href="{path=default/style}" />
            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
                <link rel="stylesheet" type="text/css" media="all" href="{path=Default/style}" />
                <script src="{path='Works/coord_2d'}"></script>
                <script src="{path='Works/draggable_persp'}"></script>
                <script src="{path='Test/persp_run'}"></script>
            </head>
    <body>
        <div class="background" style="left:0;right:0;position:relative;">
<!--            <div id="home" style="width:100px; height:100px; background-color: red; position: absolute; top:200px;">
            </div>
            <div style="width:100px; height:100px; background-color: blue; position: absolute; left: 150px; top:200px;">
            </div>
            <div style="width:100px; height:100px; background-color: purple; position: absolute; left: 300px; top:200px;">
            </div>
            <div id="targetx" style="width:100px; height:100px; background-color: green; position: absolute; left: 450px; top:200px;">
            </div> -->
        </div>
        <div class="scroll-container10" style="left:0;right:0;position:relative; transform: scale(0.1)">
            <div id="home" style="width:100px; height:100px; background-color: red; position: absolute; top:2450px;">
            </div>
            <div style="width:100px; height:100px; background-color: blue; position: absolute; left: 150px; top:2450px;">
            </div>
            <div style="width:100px; height:100px; background-color: purple; position: absolute; left: 300px; top:2450px;">
            </div>
            <div id="targetx" style="width:100px; height:100px; background-color: green; position: absolute; left: 450px; top:2450px;">
            </div>
        </div>
        <div class="scroll-container2" style="left:0;right:0;position:relative; transform: scale(0.5)">
            <div id="home" style="width:100px; height:100px; background-color: red; position: absolute; top:450px;">
            </div>
            <div style="width:100px; height:100px; background-color: blue; position: absolute; left: 150px; top:450px;">
            </div>
            <div style="width:100px; height:100px; background-color: purple; position: absolute; left: 300px; top:450px;">
            </div>
            <div id="targetx" style="width:100px; height:100px; background-color: green; position: absolute; left: 450px; top:450px;">
            </div>
        </div>
        <div class="scroll-container" style="left:0;right:0;position:relative;">
            <div id="home" style="width:100px; height:100px; background-color: red; position: absolute; top:200px;">
            </div>
            <div style="width:100px; height:100px; background-color: blue; position: absolute; left: 150px; top:200px;">
            </div>
            <div style="width:100px; height:100px; background-color: purple; position: absolute; left: 300px; top:200px;">
            </div>
            <div id="targetx" style="width:100px; height:100px; background-color: green; position: absolute; left: 450px; top:200px;">
            </div>
        </div>
    </body>
</html>