<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>title</title>
            <link rel="stylesheet" type="text/css" media="all" href="{path=default/style}" />
            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
                <link rel="stylesheet" type="text/css" media="all" href="{path=Default/style}" />
                <script src="{path='Works/coord_2d'}"></script>
                <script src="{path='Works/rect'}"></script>
                <script src="{path='Works/draggable_persp'}"></script>
                <!-- <script src="{path='Test/persp_scroll_test'}"></script> -->
                <script src="{path='Works/demand_loader'}"></script>
                <script src="{path='Works/persp_scroll_manager'}"></script>

                <script src="{path='Test/persp_demand_run'}"></script>
            </head>
    <body class="zero-spacing">
        <div class="absolute background fill"></div>
        <div class="scroll-container-container absolute"></div>
        <div class="absolute hud-noclick fill">
            <!-- <div class="absolute zero-spacing one-border hud-click debug-1" style="width:30vmin;height:11vmin;right:5vmin;top:5vmin;background-color:aquamarine;">
                <p class="coords"></p>
                <p class="region"></p>
            </div>
            <div class="absolute zero-spacing one-border hud-click debug-2" style="width:30vmin;height:11vmin;right:5vmin;top:18vmin;background-color:lightcoral;">
                <p class="coords"></p>
                <p class="region"></p>
            </div>
            <div class="absolute zero-spacing one-border hud-click debug-4" style="width:30vmin;height:11vmin;right:5vmin;top:31vmin;background-color:blueviolet;">
                <p class="coords"></p>
                <p class="region"></p>
            </div> -->
        </div>
    </body>
</html>