<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<title>title</title>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" media="all" href="{path=Default/style}" />
        <script src="{path='Test/scroll_test'}"></script>
	</head>
	<body>
        <div style="left: 0; right: 0; top: 0; bottom: 0; position: absolute;overflow:hidden; background-color: yellow;">
            <div id="home" class="scroll-container" style="width:400px; height:400px; background-color: red; position: absolute;"
                 onclick="smart_nav('#targetx')">
            </div>
            <div class="scroll-container" style="width:400px; height:400px; background-color: blue; position: absolute; left: 700px;">

            </div>
            <div class="scroll-container" style="width:400px; height:400px; background-color: blue; position: absolute; left: 1400px;">

            </div>
            <div id="targetx" class="scroll-container" style="width:400px; height:400px; background-color: green; position: absolute; left: 2100px;"
                 onclick="smart_nav('#home')">
            </div>
        </div>
    </body>
</html>