<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<title>title</title>
		<link rel="stylesheet" type="text/css" media="all" href="{path=Default/style}" />
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
		<script src="{path='Works/util'}"></script>
		<script src="{path='Test/torus_test'}"></script>
	</head>
	<body>
        <div class="zero-spacing absolute" style="width: 500px; height: 500px;">
            <svg version='1.1'
                xmlns='http://www.w3.org/2000/svg'
                xmlns:xlink='http://www.w3.org/1999/xlink'
                viewBox="-250 -250 500 500"
                class="test-line fill"></svg>
            </svg>
        </div>
    </body>
</html>